/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('button-modal.css');
@import url('modal.css');

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 

.content-card {
    border-radius: 15px;
    margin-bottom: 26%;
    margin-left: 70%;
    width: 300px;
    height: 175px;
    background-color: var(--white);
    position: relative;
    z-index: 1000;
    display: none; 
}

.content-card .imgbox {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 20px;
}

.content-card .imgbox img {
    width: 40px;
    height: 40px;
    border-radius: 100%; 
    margin-right: 10px;
}

.content-card .imgbox p {
    margin-top: 6px;
    color: var(--blue);
}

.content-card .content {
    position: relative;
    /* display: contents; */
    /* margin-top: -100px; 
    text-align: center;
    color: #111;
} */