.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 

.content-card {
    border-radius: 5px;
    margin-bottom: 300px;
    margin-left: 600px;
    width: 300px;
    height: 175px;
    background-color: var(--white);
    position: relative;
    z-index: 1000;
    display: none; 
}

.content-card .imgbox {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 20px;
}

.content-card .imgbox img {
    width: 40px;
    height: 40px;
    border-radius: 100%; 
    margin-right: 10px;
}

.content-card .imgbox p {
    margin-top: 6px;
    color: var(--dark);
}

.content-card .imgbox p:hover {
    color: var(--blue);
}

.content-card .content {
    position: relative;
    display: contents; 
    margin-top: -100px; 
    text-align: center;
    color: #111;
} 

@keyframes openCard {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes closeCard {
    from {
        opacity: 1;
        transform: translate3d(0, 20px, 5px);
    }
    to {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}