@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('button_modal.css');
@import url('modal.css');
@import url('loader.css');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
	--text: #f1f1f1;
	--blue: #30C3D9;
	--dark-blue: #308DD9;

	--background-body: linear-gradient(125deg, var(--dark-blue) 36%, var(--blue) 36%);
}

header {
	height: 80px;	
	width: 100%;
	background-color: var(--dark-blue);
	position: absolute;
	z-index: 3000;
	margin-top: -41%;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
	justify-content: center;
	display: flex;
	align-items: center;
}

header h1 {
	color: white;
}

header h1 span {
	color: var(--blue);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--background-body);
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
	z-index: 2000;
}

footer {
	height: 300px;	
	width: 100%;
	background-image: linear-gradient(177deg, black , #1B1426 65%);
	position: absolute;
	margin-top: 67%;
	justify-content: center;
	display: flex;
	align-items: center;
	/* z-index: 1000; */
}

/* 1B1426 */

footer p {
	color: white
}