@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('button_modal.css');
@import url('modal.css');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
	--text: #f1f1f1;
	--red: #bd4141;
	--dark-red: #8A010B;

	--background-body: linear-gradient(125deg, var(--dark-red) 36%, var(--red) 36%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background-body);
}

