.button-modal {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 315px;
    margin-left: 600px;
}

.button {
    display: flex;
    column-gap: 12px;
}

.button span {
    height: 50px;
    background-color: var(--dark-red);

    transform: skew(-30deg);
}

.button span:nth-child(1) {
    width: 8px;
}

.button span:nth-child(2) {
    width: 14px;
}

.button span:nth-child(3) {
    width: 250px;
}

.button span button {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;

    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    
    transform: skew(30deg);
}