.modal {
    width: 450px;
    position: relative;
    left: 320px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    color: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    z-index: 2000;
    display: none;
    /* margin-right: 70%; */
}

.modal h1 {
    font-size: 36px;
    text-align: center;
}

.modal h1 span {
    color: var(--blue);
}

.modal .input-box {
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.modal .input-box-text {
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box-text input {
    overflow: hidden;
    width: 100%;
    height: 20%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    padding: 60px 45px 20px 20px;
    text-align: flex-start;
} 

.input-box-text input::placeholder {
    position: absolute;
    color: #fff;
    top: 10px;
}

.modal .btn {
    margin: 30px 0 15px;
    width: 100%;
    height: 45px;
    background-color: var(--blue);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}

.modal .btn:hover { 
    background-color: #4dd2ff;
    box-shadow: 0 0 8px #4dd2ff;
}

@keyframes openModal {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes closeModal {
    from {
        opacity: 1;
        transform: translate3d(0, 20px, 5px);
    }
    to {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}

<<<<<<< HEAD

=======
>>>>>>> eb289909815de6324f42563c0dc69237f6b8b724
@keyframes openCard {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, -5px);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

<<<<<<< HEAD
@keyframes closeCard {
    from {
        opacity: 1;
        transform: translate3d(0, 20px, 5px);
    }
    to {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
=======
.card {
    width: 250px;
    height: 100px;
    background-color: var(--white);
    border-radius: 15pxS;
    /* margin-top: 150px; */
}

.card .info-row {
    flex-direction: row;
    justify-content: space-between;

>>>>>>> eb289909815de6324f42563c0dc69237f6b8b724
}